/*#main-banner-wrapper {*/
    /*width: 100%;*/
    /*padding-bottom: 75%;*/
    /*background:gold; !** <-- For the demo **!*/
/*}*/

#main-banner {
    width: 100%;
    height: 50vw;
}

#main-banner-image{
    background-image: url("../images/Deb_Banerji_Shirts.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0px;
    width: inherit;
    height: inherit;
}
