#main-banner {
    width: 100%;
    height: 50vw;
}

#main-banner-image{
    background-image: url("../images/Deb_Banerji_Shirts.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0px;
    width: inherit;
    height: inherit;
}
#resume-button-wrapper {
    text-align: center;
}

#resume-button {
    border-radius: 0;
    text-align: center;
    width: 80vw;
    height: 10vw;
    font-size: x-large;
    background-color: rgba(255,0,0,0);
}

button.btn:focus {
    border-width: 0;
    outline: red;
}